<div>
  <button (click)="getActivity('busywork')">Busy Work</button>
  <button (click)="getActivity('recreational')">Recreational</button>
  <button (click)="getActivity('social')">Social</button>
  <button (click)="getActivity('education')">Education</button>
  <button (click)="getActivity('music')">Music</button>
  <button (click)="getActivity('relaxation')">Relaxation</button>
  <button (click)="getActivity('charity')">Charity</button>
  <button (click)="getActivity('cooking')">Cooking</button>
</div>
